@model TeamManagment.Models.Team

@{
    ViewBag.Title = "Details";
}

<h2>Team: @Html.DisplayFor(model => model.Name)</h2>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h3>Team roster</h3>

<table class="table">
    <tr>
        <th>
            FirstName
        </th>
        <th>
           LastName
        </th>
        <th>
            Age
        </th>
        <th>
            Height
        </th>
        <th></th>
    </tr>
    @foreach (var item in ViewBag.TeamPlayers)
    {
        <tr>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @item.Age
            </td>
            <td>
                @item.Height
            </td>
            <td>
                @Html.ActionLink("Remove from team", "RemovePlayerFromTeam", new { id = item.ID })
            </td>
        </tr>
    }
</table>